.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
  }
  
  
  .drawer {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    width: 385px;
    background: #FFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    
    .cartBlock {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    
    .drawerTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      margin-bottom: 40px;
      font-size: 24px;
      
      button {
        margin-right: 1px;
        padding: 0;
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #FFF;
        border-radius: 8px;
        opacity: 0.8;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;

        
        &:hover {
          opacity: 1;
          border-color: #BBB;
        }
      }
      
    }
    
    .items {
      flex: 1;
      overflow: auto;
      margin-bottom: 40px;
    }
    
    .cartItem {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      border: 1px solid #f3f3f3;
      border-radius: 20px;
      overflow: hidden;
      
      .itemImg{
        margin-right: 20px;
        transform: translateY(-2px);
      }
      
        .itemPrice {
          margin-right: 15px;
          p{
            margin-bottom: 5px;
            }
        }
      button {
        padding: 0;
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        border: none;
        border-radius: 8px;
        border: 1px solid #BBB;
        
        cursor: pointer;
        transition: filter 0.2s ease-in-out;
        svg {
          margin: auto auto;
          transition: filter 0.2s ease-in-out;
        }
        
        &:hover {
          filter: brightness(95%);
    
          svg{
            
            filter: brightness(80%);
          }
        }
      }
      
      
      p { 
        font-size: 16px;
      }
      
      b {
        font-size: 14px;
      }
      
      div {
        max-width: 170px;
      }
    }
  }
  
  .cartTotalBlock {
    
    ul {
      
      margin-bottom: 40px !important;
      
      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px; 
        
      }
      
      div {
        position: relative;
        top: -4px;
        margin: 0 10px;
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf; 
      }
    }
    
    .greenButton {
      position: relative;
      
      &:hover {
        svg {
          transform: translateX(5px)
        }
      }
      
      &:disabled {
        background-color: #bebebe !important;
        cursor: default !important;
      }
      
      svg {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
  
  .greenButton {
    width: 100%;
    height: 55px;
    background: #9DD558;
    border-radius: 18px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    
    &:hover {
      background: lighten($color: #9DD558, $amount: 5%);
    }
    
    &:active {
      background: darken($color: #9DD558, $amount: 5%);
    }
  }
  
  
  .overlayVisible {
    visibility: visible;
    opacity: 1;
    .drawer {
      transform: translateX(0);
    }
  }