.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.drawer {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
  width: 385px;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  .cartBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .drawerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 24px;

    button {
      margin-right: 1px;
      padding: 0;
      width: 32px;
      height: 32px;
      background: #ffffff;
      border: 1px solid #fff;
      border-radius: 8px;
      opacity: 0.8;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      position: relative;
      top: -4px;
      margin: 0 10px;
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
    }
  }

  .greenButton {
    position: relative;

    &:disabled {
      background-color: #bebebe !important;
      cursor: default !important;
    }

    svg {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
  .drawer {
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  .drawer {
    padding: 30px 15px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .drawer {
    button {
      &:hover {
        opacity: 1;
        border-color: #bbb;
      }
    }
  }

  .cartTotalBlock {
    .greenButton {
      &:hover {
        svg {
          transform: translateX(5px);
        }
      }
    }
  }

  .greenButton {
    &:hover {
      background: lighten($color: #9dd558, $amount: 5%);
    }

    &:active {
      background: darken($color: #9dd558, $amount: 5%);
    }
  }
}
